%h2 Data
= link_to "Upload a new data file", new_dataset_path

- if @datasets.nil? or @datasets.empty?
  %p No data uploaded.
- else
  %ul
    - @datasets.each do |dataset|
      %li
        = link_to dataset.name, dataset

