.dataset-new
  .form-wrapper
    %h2 Upload a Dataset
    = form_for @dataset, :url => create_dataset_path(@dataset) do |f|
      %ul
        %li
          %label{:for => "dataset-name"} Name of Dataset
          .text-field
            = f.text_field :name, :class => "dataset-name"
        %li
          .dataset-upload-wrapper
            %label.dataset-upload-label{:for => "dataset-upload"} Choose a File
          %span.dataset-filename Only .csv, .tsv or .ssv
          = f.file_field :file, :id => "dataset-upload", accept: "text/csv"
        %li.submit-item
          = f.submit "Submit", :class => "dataset-submit"