.dataset-new
  %h2 Upload Data
  = form_for @dataset, :controller => :datasets, :action => :create do |f|
    %ul
      %li
        %label{:for => "dataset-upload"} Select a data file
        = f.file_field :file, :id => "dataset-upload"
      %li
        = f.submit "Upload Data File"