.dataset-new
  .form-wrapper
    %h2 Upload a Dataset
    = form_for @dataset, :url => create_dataset_path(@dataset) do |f|
      %ul
        %li
          %label.text-field-label{:for => "name-input"} Name of Dataset
          .text-field
            = f.text_field :name, :class => "text-field-input", :id => "name-input"
        %li
          .file-field
            %label.file-field-label{:for => "file-input"} Choose a File
          %span.file-field-text Only .csv w/o headers
          = f.file_field :file, :class => "file-field-input", :id => "file-input", accept: "text/csv"
        %li.submit-field
          = f.submit "Submit", :class => "submit-field-input"