
%h2 Upload Data
%form
  %ul
    %li
      %label{:for => "dataset-upload"} Select a data file
      %input{:type => "file", :id=>"dataset-upload", :accept => "csv"}
    %li
      %input{:type => "submit", :value => "Upload Data File"}