.dataset-show
  %h2= @dataset.name

  = button_to "Run MOCK on this Dataset", create_run_path(:dataset => @dataset.id)

  %table
    - @dataset.datapoints.each do |datapoint|
      %tr
        - datapoint.datavalues.each do |datavalue|
          %td= "#{datavalue.value} "