.dataset-show
  .graph-width-wrapper.heading-wrapper.clearfix
    %h2= @dataset.name
    .create-run= link_to "Run MOCK on this Dataset", new_run_path(:dataset => @dataset.id), :class => "orange-button"

  .solution
    %svg#solution-graph

  .graph-width-wrapper
    %p X Dimension
    = select_tag :x_dimension, options_for_select(1..@dataset.columns, 1), :class => "dimension-select"
    %p Y Dimension
    = select_tag :y_dimension, options_for_select(1..@dataset.columns, 2), :class => "dimension-select"