.evidence-accumulation-solution-show
  .graph-width-wrapper
    .heading-wrapper.clearfix
      %h2 Solution Dendrogram
      = link_to "Back", run_path(:id => @run.id, :last_solution => @solution), :class => "back-button orange-button"

    - if !@solution.nil?
      .evidence-accumulation-solution-options
        %form
          = label_tag "Hide unanimous branches"
          = check_box_tag "hide-unanimous-branches", :class => "check-box-input"

    .evidence-accumulation-solution
      #dendrogram