%ul.pages
  %li
    .solution-page.tab.active-tab.graph
      %svg#solution-graph

  %li
    .pareto-front-page.tab.graph
      %svg#pareto-front-graph

  %li
    .dendrogram-page.tab.graph
      #dendrogram
