%ul.pages
  %li
    .solution-page.tab.active-tab.graph
      %svg#solution-graph
      %p= `cat algo/data/wine2.dat.method1.run1.control.pf`

  %li
    .pareto-front-page.tab.graph
      %svg#pareto-front-graph

  %li
    .dendrogram-page.tab.graph
      #dendrogram
