%h2 Runs

- if @runs.nil? or @runs.empty?
  %p
    This looks like your first time running MOCK. To begin, follow the instructions below:
  %ol
    %li
      Select a data file from below that you want to use (if you can't see any,
      = link_to "try uploading a new data file", new_dataset_path
      )
    %li
      Select a MOCK run from the list below to see the results

- if !@datasets.nil? and !@datasets.empty?
  %h2 Choose a Dataset
  %ul
    - @datasets.each do |dataset|
      %li
        = link_to dataset.name, dataset
