%h2 Runs

- if @runs.nil? or @runs.empty?
  %p
    This looks like your first time running MOCK. To begin, follow the instructions below:
  %ol
    %li
      Select a data file from below that you want to use (if you can't see any,
      = link_to "try uploading a new data file", datasets_new_path
      )
    %li
      Select a MOCK run from the list below to see the results
- else
  %p= @datasets
