.run-show{ :data => { :id => @run.id } }
  .graph-width-wrapper.clearfix
    %h2= "Run #{@run.id}"

  .graph-width-wrapper
    %p Hover over the gold solution line and click to view a clustering solution.

  .solution-front
    #solution-front-graph

  .status
    - if !@evidence_accumulation_status.nil?
      %p
        - if !@evidence_accumulation_solution.nil? and @evidence_accumulation_solution.completed?
          = link_to @evidence_accumulation_status, @evidence_accumulation_solution
        - else
          = @evidence_accumulation_status


