.run-show{ :data => { :id => @run.id } }
  .graph-width-wrapper.clearfix
    %h2
      = "Run #{@run.id}"
      - if !@evidence_accumulation_status.nil?
        %span.status= @evidence_accumulation_status

  .graph-width-wrapper
    %p Hover over the gold solution line and click to view a clustering solution.

  .solution-front
    #solution-front-graph

  .graph-width-wrapper
    .options-wrapper
      - if !@evidence_accumulation_status.nil?
        %form
          %ul
            %li
            %li

