/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: HelveticaBold;
  src: url(../fonts/Helvetica-Bold.otf);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato-Lig.ttf);
}

body, h1, h2, h3, li, ul {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 4px solid rgb(213,214,215);
  height: 40px;
  line-height: 2em;
  font-size: 2em;
  padding: 20px 40px;
}

header h1 {
  font-weight: normal;
  color: rgb(82,83,73);
}

nav {
  background-color: rgb(220,220,220);
  font-size: 18px;
  line-height: 20px;
}

nav ul {
  list-style-type: none;
  padding: 5px 0px 5px 40px;
}

nav ul li {
  color: rgb(131,173,190);
  display: inline;
  list-style: none;
  margin: 0 20px 0 0;
  cursor: pointer;
}

body {
  font: 10px sans-serif;
  font-family: Lato, sans-serif, Helvetica, Arial;
  color: rgb(57,57,55);
}

main {
  /*background-color: rgb(236,237,238);*/
}

.tab {
  display: none;
}

.page {
  display: inline-block;
  
}

.graph {
  text-align: center;
  width: 80%;
  padding: 20px 0;
  margin: 0 10%;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Life Styles */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node, text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

text {
  fill: #000;
}

/* Helper Classes */
.hidden {
  display: none;
}
.active-tab {
  display: block;
}