// Place all the styles related to the datasets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dataset-index {

  .create-dataset {
    float: right;
  }

  .datasets {
    list-style-type: none;

    .dataset-wrapper {
      margin-bottom: 1em;
      background-color: rgb(240,240,240);
      border-bottom: 4px solid rgb(230,230,230);
      padding: 0.5em 1em;

      .run-create-link {
        float: right;
      }

    }

  }

  p {
    margin-bottom: 0.5em;
  }

}

.dataset-show {

  .create-run {
    float: right;
  }

  tr {
    text-align: right;
  }

}