// Place all the styles related to the EvidenceAccumulationSolutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.evidence-accumulation-solution-show {

  height: 960px;

  circle.join {
    stroke-width: 0px;
  }

  .back-button {
    margin-left: 1em;
    float: right;
  }

  .options {
    background-color: rgb(240, 240, 240);
    margin: 1em 0;
    width: 100%;

    form {
      padding: 0.5em;
      text-align: center;
    }

  }

  path.link, circle.join {
    -webkit-transition: stroke 0.2s;
  }

  .cut-line {
    stroke: rgb(220,220,220);
    stroke-width: 2px;
  }

  .cut-text {
    font-size: 0.8em;
    stroke: rgb(220,220,220);
    font-family: 'Lato Light';
  }

}
