.home {

  .getting-started {

    margin-bottom: 2em;
    
    h3 {
      color: rgb(241,194,50);
      font-size: 2em;
      margin: 0 0.5em 0.5em;
    }

  }

  .mockiato, .mock, .multiobjective-clustering {

    margin-bottom: 2em;

    h3 {
      margin: 0.5em 0;
      font-size: 1.5em;
    }

    p {
      margin-bottom: 0.5em;
    }

    span.objective {
      font-family: Lato;
    }

    li {
      margin-bottom: 0.5em;
    }

  }
}
