// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.run-show {

  h2 {
    float: left;
  }

  span.status {
    color: rgb(210, 210, 210);
    font-size: 0.8em;
    margin-left: 0.5em;
  }

  input {
    margin: 0 0.5em;
  }

  circle {
    fill: transparent;
  }

  .solution-front-point {
    pointer-events: all;
    cursor: pointer;
    -webkit-transition: fill 0.1s ease-in;
    fill: transparent;
    -webkit-transition: fill 0.1s;
    -webkit-transition: r 0.1s;
    z-index: 100;
  }

  .solution-front-point:hover,
  .last-solution {
    fill: rgb(149,68,165);
  }

  circle.silhouette-width {
    fill: rgb(135,190,250);
  }

  circle.control-distance {
    fill: rgb(250,130,130);
  }

  .view-dendrogram {
    float: right;
  }

}

.run-new {

  .check-box-wrapper {
    margin: 0 0 2em 0;

    .check-box-input {
      margin-bottom: 0;
      vertical-align: 10%;
      display: inline-block;
    }

  }

}
