// Place all the styles related to the solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.solution-show {

  .back-button {
    float: right;
  }

  .options {
    background-color: rgb(240, 240, 240);
    margin: 1em 0;
    width: 100%;

    form {
      padding: 0.5em;
      text-align: center;

      ul {

        list-style: none;

        li {
          margin: 0 1em 0 0;
          display: inline-block;

          select, input {
            display: inline-block;
            vertical-align: 20%;
            margin: 0;
          }
        }
      }
    }
  }
}