// Place all the styles related to the solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.solution-show {

  .back-button {
    float: right;
  }

  .solution-point {
    -webkit-transition: opacity 0.2s;
  }

  .solution-legend {
    cursor: pointer;
  }

  .selected {
    stroke-width: 2;
    stroke: rgb(6,69,173);
  }

}