%header>
  %h1 Multiobjective Clustering Visualisation

%nav
  %ul.nav
    %li.nav-tab{ :data => { :tab => ".solution-page"}} Solution
    %li.nav-tab{ :data => { :tab => ".pareto-front-page" }} Pareto Front
    %li.nav-tab{ :data => { :tab => ".dendrogram-page" }} Dendrogram