%h2 Solution Clusters

%p
  - @solution.clusters.order(:generated_cluster_id).each do |cluster|
    = link_to cluster.generated_cluster_id, cluster
    = " "

.solution-page.tab.active-tab.graph
  %svg#solution-graph

//.dendrogram-page.tab.graph
//  #dendrogram
