.solution-show
  .heading-wrapper.clearfix
    %h2 Solution Clusters
    = link_to "Back", @solution.run, :class => "back-button orange-button"

  %p Click on the legend boxes to filter clusters

  .solution
    %svg#solution-graph

  //.dendrogram-page.tab.graph
  //  #dendrogram
