.solution-show
  .graph-width-wrapper.heading-wrapper.clearfix
    %h2 Solution Clusters
    = link_to "Back", run_path(:id => @solution.run.id, :last_solution => @solution.id), :class => "back-button orange-button"

  .graph-width-wrapper
    %p Click on the legend boxes to filter clusters

  .solution
    %svg#solution-graph

  //.dendrogram-page.tab.graph
  //  #dendrogram
